h1 {
    text-align: center;
}
body {
    background-color: #E1DEE3;
    color: #000;
}
p {
    font-size: 16px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.place-3 {
    text-align: center;
}
.place-2 {
    text-align: center;
}
.place-1 {
    text-align: center;
}
fieldset {
    border: none;
    
}
.ultras {
    font-size: 18px;
    font-style: inherit;
}